.product{
    justify-content: center;
    align-items: center;
    }
  
   
  .product:hover{
    box-shadow: 0px 10px 100px rgba(52, 52, 57, 0.195);
    border-radius: 25px;
    margin: none;
  }
  
  
  .product-info{
    text-align: center;
  }
  
  .product h4{
    color:#141312;
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0 0 10px 0px;
  }
  
  .product div{
    display: flex;
    color:#141312;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size:1.2em;
    justify-content: space-between;
    align-items: center;
  }
  
  .like-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #000000; /* Adjust color as desired */
    transition: color 0.2s ease-in-out;
    font-size: 40px;
  }
  
  .like-btn:hover {
    color: rgb(255, 8, 8); /* Adjust hover color as desired */
  }
  
  .like-btn.active i {
    color: #f00; /* Color of the heart when added to wishlist */
  }
  
  #wishlist {
    display: none; /* Initially hide the wishlist */
    padding: 1rem;
    border: 1px solid #ddd;
    margin-top: 1rem;
  }










  .product-container img {
    margin: 10px 10px 2px 10px;
    width: 20vw;
    height: auto;
    border-radius: 20px;
  }
  








  
  .product-container img {
    padding: 10px;
     min-width: 30vw;/* Example, adjust based on desired image size */
  }