body {
  background-image: linear-gradient(to right bottom, #fff8ec, #fbf3e6, #f7efe1, #f4eadb, #f0e6d6);
  background-size: cover;
  background-position: center;
  font-family: "gothic", sans-serif;

}


.container {
  width: 60%;
  margin: 40px auto;
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}

.left {
  max-width: 40%;
  justify-content: space-between;
}

.slide {
  max-width: 100%;
}

.option {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.option img {
  max-width: 20%;
  height: auto;
  padding: 5px;
}


.right {
  max-width: 100%;
  margin: 20px 10px 10px 50px;
}

.right h1 {
  color: #141312;
  font-size: 3em;
  font-weight: 600;
}

.w-code {
  margin-top: 5px;
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.price-box {
  margin: 20px 10px 10px 0;
}

.right p1 {
  text-decoration: line-through;
  color: #474646;
  font-size: 0.5em;
  font-weight: 100;
}

.right h3 {
  color: #141312;
  font-weight: 200;
  margin-top: 5px;
  font-size: 3em;
}

.right h5 {
  color: #141312;
  font-size: 1.2em;
}

.right h4 {
  text-align: center;
  margin: 50px 0 20px 0;
  color: #141312;
  font-size: 1.5em;
}

.color-option {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-option label input {
  display: none;
}

.color-option span {
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 8px 40px 8px;
}

.color-option span:hover {
  border: 1px solid #141312;
}

.lavender {
  background-color: #fcadd5;
}

.wine {
  background-color: #9d3149;
}

.pink {
  background-color: #f1c7c1;
}

.blue {
  background-color: #aaccff;
}

.white {
  background-color: #ffffff;
}

.mint {
  background-color: #b1efbb;
}


.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "gothic", sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #141312;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: small;
}

.quantity input {
  width: 80px;
  height: 40px;
  margin: 0 0 0 10px;
  background-color: transparent;
  border: 1px solid rgba(52, 50, 50, 0.226);
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  font-family: "gothic", sans-serif;
}


.add-to-cart button {
  font-family: "gothic", sans-serif;
  background-color: #141312;
  color: #ffffff;
  padding: 5% 7%;
  margin: 0 0 0 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wishlist {
  font-family: "gothic", sans-serif;
  background-color: #141312;
  color: #ffffff;
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 2px 2px 2px;
}



@media (max-width: 450px) {

  .container {
    width: 80%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

  }

  .left {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  .right {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }
}