body {
  background-image: linear-gradient(to right bottom, #fff8ec, #fbf3e6, #f7efe1, #f4eadb, #f0e6d6);
  background-size: cover;
  background-position: center;
  font-family: "gothic", sans-serif;

}


.container {
  width: 60%;
  margin: 40px auto;
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
}

.left {
  max-width: 40%;
  justify-content: space-between;  
}

.slide {
  max-width: 100%;
}

.option {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
}

.option img {
  max-width: 20%;
  height: auto;
  padding: 5px;
}


.right {
  max-width: 100%;
  margin: 20px 10px 10px 50px;
}

.right h1 {
  color: #141312;
  font-size: 3em;
  font-weight: 600;
}

.w-code {
  margin-top: 5px;
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.price-box {
  margin: 20px 10px 10px 0;
}

.right p1 {
  text-decoration: line-through;
  color: #474646;
  font-size: 0.5em;
  font-weight: 100;
}

.right h3 {
  color: #141312;
  font-weight: 200;
  margin-top: 5px;
  font-size: 3em;
}

.right h5 {
  color: #141312;
  font-size: 1em;
}

.right h4 {
  text-align: center;
  margin: 50px 0 20px 0;
  color: #141312;
  font-size: 1.5em;
}

.color-option {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 80%; /* Adjust this width based on the size of each item */
  margin: 10px auto; /* Center the container */
}


.color-option label input {
  display: none;
}

.color-option span {
  display: inline-block;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 8px 10px 8px;
}

.color-option span:hover {
  border: 1px solid #141312;
}

.lavender {
  background-color: #dfc8e4;
}

.wine {
  background-color: #9d3149;
}

.pink {
  background-color: #f1c7c1;
}

.blue {
  background-color: #aaccff;
}

.white {
  background-color: #ffffff;
}

.mint {
  background-color: #b1efbb;
}

.yellow {
  background-color: #e1b84d;
}

.blue_cream {
  background: conic-gradient(from 180deg, #f3ddcb 50%, #bcc8cb 50%);
}

.maroon_cream {
  background: conic-gradient(from 180deg, #66171f 50%, #dfdad5 50%);
}

.maroon_peach {
  background: conic-gradient(from 180deg, #66171f 50%, #db9b92 50%);
}

.maroon_pink {
  background: conic-gradient(from 180deg, #66171f 50%, #d87571 50%);
}

.maroon_yel {
  background: conic-gradient(from 180deg, #66171f 50%, #c19d68 50%);
}

.peach_white {
  background: conic-gradient(from 180deg, #db9b92 50%, #ffffff 50%);
}

.pink_white {
  background: conic-gradient(from 180deg, #d87571 50%, #ffffff 50%);
}

.pink_yel {
  background: conic-gradient(from 180deg, #d87571 50%, #c19d68 50%);
}

.purple_cream {
  background: conic-gradient(from 180deg, #ae7891 50%, #f3ddcb 50%);
}

.dark_blue{
  background-color: #282f50;
}

.c_red {
  background-color:#883352 ;
}

.maroon{background-color: #991a2b;
}

.b_purple{
  background-color: #ae7891;
}

.k_pink{
  background-color: #E5A5C4;
}

.bis_blue{
background-color: #497183;
}
.green{
  background-color: #3DC199;
}
.d_pink{
  background-color: #D94972;
}
.l_green{
  background-color: #a1d020
}

.s_blue{
  background-color: #4e87c9;
}

.br-blue{
  background-color: #4C96E1;
}
.puce-pink{
  background-color: #c87c99;
}

.mettwurst{
  background-color: #e26b5f;
}

.cr_red{
  background-color: #c71b24;
}

.whispher{
background-color: #e3efc0;
}
.s_pink{
  background-color: #e6978c;
}

.golden_t{
  background-color: #e8c87d;
}
.brown{
  background-color: rgb(58, 14, 14);
}

.l_brown{
  background-color: rgb(213, 147, 85);
}
.orange{
  background-color: orangered;
}
span[title] {
  position: relative;
}

span[title]::before {
  font-family: "gothic";
  content: attr(title);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #141312;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
}

span[title]:hover::before {
  visibility: visible;
  opacity: 1;
}


.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "gothic", sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #141312;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: small;
}

.quantity input {
  width: 80px;
  height: 40px;
  margin: 0 0 0 10px;
  background-color: transparent;
  border: 1px solid rgba(52, 50, 50, 0.226);
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  font-family: "gothic", sans-serif;
}


.add-to-cart button {
  font-family: "gothic", sans-serif;
  background-color: #141312;
  color: #ffffff;
  min-width: 128px; /* Padding will be included within this width */
  min-height: 45px;
  padding: 5% 7%;
  margin: 0 0 0 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.wishlist {
  font-family: "gothic", sans-serif;
  background-color: #141312;
  color: #ffffff;
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 2px 2px 2px;
}



@media (max-width: 450px) {

  .container {
    width: 80%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

  }

  .left {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  .right {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }

  .right h1 {
    color: #141312;
    font-size: 1.8em;
    font-weight: 600;
  }

  .color-option {
    margin: 0;
    max-width: 100%; /* Adjust this width based on the size of each item */
  
  }

}