
body {
  background-image: linear-gradient(to right bottom, #fff8ec, #fbf3e6, #f7efe1, #f4eadb, #f0e6d6);
  background-size: cover;
  background-position: center;
}


.product-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: flex-start; /* Horizontally center the container */
  align-items: center; 
  width: 70%; /* Adjust width as needed */
  margin: 40px auto; /* Add margin for spacing */
  padding: 0px;
}

.product-container a{
  text-decoration: none;
}


.product{
  max-width: 15em;
  padding: 1em;

}

.product:hover{
  border: 0.5px solid #141312a1;
  
}

.product img{
  max-width: 100%;
}

.product h4{
  font-size: 1.2em;
  margin: 0.5em 0;
}
.product div{
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.product button{
  border: none;
  font-size: 1.1em;
  background: transparent;
  margin-right: 0.5em;
  color: rgba(31, 30, 30, 0.432);
  z-index: 100;
}

.product button:hover {
  color: rgb(239, 4, 4); /* Adjust hover color as desired */
}

.product button.active i {

  color: rgb(239, 4, 4);  /* Color of the heart when added to wishlist */
}



@media (max-width: 576px) {
  .product-container {
    width: 80%; /* Make container full width on small screens */
    margin: 2px auto; /* Maintain horizontal centering */
    flex-wrap: wrap;
    position: center;
  }

  .product{
    max-width: 9em;
    padding: 1em;
  }

  .product h4{
    font-size: 1em;
  }

  .product div{
    font-size: 0.8em;
  }

}

@media (max-width: 349px) {
  .product-container {
    width: 80%; /* Make container full width on small screens */
    margin: 2px auto; /* Maintain horizontal centering */
    flex-wrap: wrap;
    position: center;
  }

  .product{
    max-width: 8em;
    padding: 1em;
  }
 

}