.product-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  justify-content: center; /* Horizontally center the container */
  align-items: center; /* Vertically center the content within the container (optional) */
  width: 70%; /* Adjust width as needed */
  margin: 40px auto; /* Add margin for spacing */
}

.product-container img {
  padding: 20px;
  width: 20vw; /* Adjust width as needed */
  height: auto;
}


@media (max-width: 480px) {
  .product-container {
    width: 80%; /* Make container full width on small screens */
    margin: 40px auto; /* Maintain horizontal centering */
    flex-wrap: none; /* Disable wrapping for single-column layout */
  }

  .product-container img {
    padding: 10px;
    min-width: 30vw; /* Example, adjust based on desired image size */
  }
}