body {
  background-image: linear-gradient(to right bottom, #fff8ec, #fbf3e6, #f7efe1, #f4eadb, #f0e6d6);
  background-size: cover;
  background-position: center;
}




.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 40px auto;
  padding: 0px;
  font-family: "gothic", sans-serif;
}

.product-container a {
  text-decoration: none;
  color: #141312;
}


.product {
  max-width: 15em;
  padding: 1em;

}

.product:hover {
  border: 0.5px solid #141312a1;

}

.product img {
  max-width: 100%;
}

.prod-name{
  display: flex;
  flex-direction: row;
}
.prod-name h4 {
  font-size: 1.2em;
  margin: 0.5em 0;
}




.price {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.product button {
  border: none;
  font-size: 1.1em;
  background: transparent;
  margin-right: 0.5em;
  color: rgba(31, 30, 30, 0.432);
  z-index: 100;
}

.product button:hover {
  color: rgb(239, 4, 4);
}

.product button.active i {

  color: rgb(239, 4, 4);
}



/* Color option */
.color-options {
  display: flex;
  align-items: center;
  justify-content:right;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin: 0;
}

.circle {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  position: relative;
  margin-left: -10px; 
}


.circle::after {
    content: attr(title);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #141312;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    font-size: 12px;
}

.circle:hover::after {
    opacity: 1;
    visibility: visible;
}

.lavender {
background-color: #fcadd5;
}

.wine {
background-color: #9d3149;
}

.pink {
background-color: #f1c7c1;
}

.blue {
background-color: #aaccff;
}

.white {
background-color: #ffffff;
}

.mint {
background-color: #b1efbb;
}

.brown{
  background-color: rgb(58, 14, 14);
}
.orange{
  background-color: orangered;
}
.l_brown{
  background-color: rgb(213, 147, 85);
}
.yellow {
  background-color: #e1b84d;
}

.blue_cream {
  background: conic-gradient(from 180deg, #f3ddcb 50%, #bcc8cb 50%);
}

.maroon_cream {
  background: conic-gradient(from 180deg, #66171f 50%, #dfdad5 50%);
}

.maroon_peach {
  background: conic-gradient(from 180deg, #66171f 50%, #db9b92 50%);
}

.maroon_pink {
  background: conic-gradient(from 180deg, #66171f 50%, #d87571 50%);
}

.maroon_yel {
  background: conic-gradient(from 180deg, #66171f 50%, #c19d68 50%);
}

.peach_white {
  background: conic-gradient(from 180deg, #db9b92 50%, #ffffff 50%);
}

.pink_white {
  background: conic-gradient(from 180deg, #d87571 50%, #ffffff 50%);
}

.pink_yel {
  background: conic-gradient(from 180deg, #d87571 50%, #c19d68 50%);
}

.purple_cream {
  background: conic-gradient(from 180deg, #ae7891 50%, #f3ddcb 50%);
}

.dark_blue{
  background-color: #282f50;
}

.c_red {
  background-color:#883352 ;
}

.maroon{background-color: #991a2b;
}

.b_purple{
  background-color: #ae7891;
}

.k_pink{
  background-color: #E5A5C4;
}

.bis_blue{
background-color: #497183;
}
.green{
  background-color: #3DC199;
}
.d_pink{
  background-color: #D94972;
}
.l_green{
  background-color: #a1d020
}

.s_blue{
  background-color: #4e87c9;
}

.br-blue{
  background-color: #4C96E1;
}
.puce-pink{
  background-color: #c87c99;
}

.mettwurst{
  background-color: #e26b5f;
}

.cr_red{
  background-color: #c71b24;
}

.whispher{
background-color: #e3efc0;
}
.s_pink{
  background-color: #e6978c;
}

.golden_t{
  background-color: #e8c87d;
}



@media (max-width: 450px) {
  .product-container {
    width: 100%;
    /* Make container full width on small screens */
    margin: 2px auto;
    /* Maintain horizontal centering */
    flex-wrap: wrap;
    position: center;
  }

  .product {
    max-width: 9.5em;
    padding: 1em;
  }

  .product h4 {
    font-size: 1.3em;
  }

  .product div {
    font-size: 0.8em;
  }

  .circle {
    margin-left: -5px; 
  }   

}

/* @media (max-width: 349px) {
  .product-container {
    width: 80%;
    margin: 2px auto;
    flex-wrap: wrap;
    position: center;
  }

  .product {
    max-width: 8em;
    padding: 1em;
  }

  .circle {
    margin-left: -1px; 
  }

} */