@font-face {
  font-family: 'gardena';
  src: url(srcs/gardena-holmes-gardena-holmes-serif-400.ttf) format('truetype');
}

@font-face {
  font-family: 'gestack';
  src: url(srcs/gestack-gestack-400.ttf) format('truetype');
}

@font-face {
  font-family: 'Gothic';
  src: url(srcs/Century\ Gothic\ Std\ Regular.otf) format('truetype');
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #141312;
  background-size: cover;
  background-position: center;
}


/* header */
.nav {
  width: 100%;
  height: 60px;
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.logo {
  font-size: 50px;
  font-family: 'gardena';
  font-weight: 400;
  margin-right: auto;
  padding: 30px 10px 10px 10px;
}

.logo a {
  text-decoration: none;
  color: #ddc398;
}

.logo a:hover {
  text-decoration: none;
}

.links-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  background-color: #141312;
  box-shadow:
    0px 2px 24px rgba(31, 30, 30, 0.649),
    /* Subtle bottom shadow */
    0px -2px 4px rgba(25, 248, 92, 0);
  /* Top shadow for depth */

}

.links {
  display: flex;
  align-items: center;
  font-family: "gothic" ,sans-serif;
  font-weight: 400;
  font-size: medium;
}

.links a {
  display: flex;
  align-items: center;
 font-family: "gothic" ,sans-serif;
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  color: #dcdbdb;
  text-decoration: none;
  transform: scale(1.1)
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ddc398;
  padding: 0 10px;
}

.logo-buttons {
  height: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  text-decoration: none;
  color: #ddc398;
}





.open-sidebar-button {
  fill: #ddc398;
  margin-left: 90%;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.mobile-view-logo {
  visibility: hidden;
  width: 0;
  height: 0;
}


.arrivals h1,
.collection h1 {
  position: relative;
  font-size: 4vw;
  font-family: 'gestack';
  font-weight: 200;
  margin: 40px 0px 40px 20px;
  color: #ddc398;

}

.arrivals h1 a,
.collection h1 a {
  text-decoration: none;
  color: #ddc398;
}

.arrivals h1 a:hover,
.collection h1 a:hover {
  text-decoration: none;
  color: #ddc398;
}



/* ------Products Corousel---- */


.owl-carousel {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;/
}

.owl-carousel .item {
  perspective: 1000px;
  position: relative;
}

.owl-carousel .item img {
  transition: transform 0.5s;
}

.owl-carousel .item:hover img {
  transform: scale(1.1) rotateY(11deg);
}









@media (max-width: 450px) {


  .links {
    display: flex;
    flex-direction: column;
  }

  .links-container {
    .logo {
      display: NONE;
    }

    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 0;
    z-index: 100;
    width: 300px;
    background-color: #141312;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 10px;
    display: block;
  }


  #sidebar-active:checked~.links-container {
    padding: 20px;
    display: flex;
  }

  .mobile-view-logo a {
    font-family: 'gardena';
    margin-left: 10px;
    font-size: 30px;
    visibility: visible;
    padding: 10px;
  }
}


/* FOOTER */

.footer {
  position: relative;
  width: 100%;
  background: #ddc398;
  min-height: 100px;
  margin-top: 200px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "gothic" ,sans-serif;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  color: #141312;
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #141312;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer p {
  color: #141312;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


