@font-face {
  font-family: 'gardena';
  src: url(srcs/gardena-holmes-gardena-holmes-serif-400.ttf) format('truetype');
}

@font-face {
  font-family: 'gestack';
  src: url(srcs/gestack-gestack-400.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141312;
  background-size: cover;
  background-position: center;
}

/* header */
.nav {
  width: 100%;
  height: 60px;
  margin: 20px 10px 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
}

.links {
  display: flex;
  align-items: center;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ddc398;
  padding: 0 10px;
}

.logo-buttons {
  height: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  text-decoration: none;
  color: #ddc398;
}

.logo {
  font-size: 60px;
  font-family: 'gardena';
  font-weight: 400;
  margin-right: auto;
  padding: 10px;
}

.open-sidebar-button {
  fill: #ddc398;
  margin-left: 90%;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.mobile-view-logo {
  visibility: hidden;
  width: 0;
  height: 0;
}



.owl-carousel {
  width: 95%; /* Adjust the width of the carousel */
  max-width: 1400px; /* Optionally limit the maximum width */
  margin: 0 auto; /* Center the carousel horizontally */
}
.owl-carousel .item {
  perspective: 1000px; /* Set perspective for 3D effect */
  position: relative;
}

.owl-carousel .item img {
  transition: transform 0.5s; /* Add transition effect to transform property */
}

.owl-carousel .item:hover img {
  transform: scale(1.1) rotateY(11deg); /* Apply scale and rotation on hover */
}






/* -------------------- */
h1{
  font-size: 4vw;
  font-family: 'gestack';
  font-weight: 200;
  margin: 30px 0px 40px 20px;
  color: #ddc398;
}
@media (max-width: 450px) {


  .links {
      display: flex;
      flex-direction: column;
  }

  .links-container {
    .logo{
      display: NONE;
    }
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: 0;
      margin-right: 0;
      z-index: 100;
      width: 300px;
      background-color: #141312;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
  }

  nav a {
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
      display: block;
  }
  

  #sidebar-active:checked ~ .links-container {
      display: flex;
  }

  .mobile-view-logo a{
    font-family: 'gardena';
    margin-left: 10px;
    font-size: 30px;
    visibility: visible;
    padding: 0;
  }
}